html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.accordian {
  border: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

.mainpage-container {
  color: white;
}

/* swiper */

.image-slider {
  object-fit: cover;
  border-radius: 20px;
}
