/* @font-face {
  font-family: "Futura";
  src: url("/public/fonts/Satoshi-Regular.woff");
} */

body {
  padding: 0;
  margin: 0;
  font-family: Futura;
  height: 100%;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  font-size: 11px;
  border-radius: 50px;
  background-color: white;
  font-family: inherit;
  border: 1px solid black;
}

/* Home page */

.accordian {
  border: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

.MuiAppBar-root {
  box-shadow: none;
  background-color: rgba(203, 200, 193, 0.5);
  box-shadow: none;
}

.welcome {
  margin: 90px 20px 0px 20px;
  height: 300px;
  /* background-color: #a836ea; */
  border-radius: 20px;
}

.welcome-message {
  font-size: 100px;
  padding-left: 20px;
}

.mainpage-container {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 0.2fr 1fr;
  height: 100vh;
}

.latest-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.latest-img-container {
  display: flex;
  justify-content: center;
  padding: 12px 12px 0px 12px;
  position: relative;
}

.latest-img {
  width: 100%;
  border-radius: 8px;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}

.middle-text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: #816df0;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  font-size: 10px;
}

.latest-img-container:hover .latest-image {
  opacity: 0.3;
}

.latest-img-container:hover .middle-text {
  opacity: 1;
}

.text {
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.latest-header {
  display: flex;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  height: 100px;
  border-radius: 20px;

  font-size: 40px;
  text-align: center;
}

.salomon-xt-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 80px;
}

.salomon-xt-link {
  background-color: rgb(251, 213, 219);
  color: rgb(91, 93, 96);
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
}

.salomon-xt-img {
  width: 100%;
  height: 100%;
}

.product-link {
  color: black;
  text-decoration: none;
}

.product-link:hover {
  color: white;
}

/* swiper */

.image-slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  object-fit: cover;
}

.swiper-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-buttons {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  cursor: pointer;
}

.featured {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  margin-top: 10px;
}

/* Home page */

/* Store pages */

.brand-name {
  font-size: 80px;
  padding: 20px;
  text-align: center;
  background-color: #816df0;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 80px;
}

.brand-description {
  font-size: 40px;
  padding: 50px 50px 0px 50px;
  text-align: center;
}

.store-brand-info {
  margin-top: 90px;
}

.store-main-container {
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr;
}

.store-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.product-image {
  width: 100%;
}

.products {
  font-size: 12px;
  padding: 5px;
}

.select-size {
  font-family: inherit;
  font-size: 10px;
  margin: 8px 0px 8px 0px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
}

.basket-counter {
  font-size: 12px;
  color: black;
}

/* Store pages */

/* Basket */

.basket-header {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.basket-container {
  padding-top: 80px;

  height: 100vh;
}

.basket-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 5px;
  text-align: center;
}

.basket-img {
  width: 50%;
  padding-left: 20px;
}

.basket-total {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin-right: 5em;
}

.basket-item {
  padding-top: 40px;
}

@media screen and (max-width: 601px) {
  .image-slider {
    width: 100%;
  }

  .store-main-container {
    display: flex;
    flex-direction: column;
  }

  .store-items-container {
    display: flex;
    flex-direction: column;
  }

  .latest-container {
    display: flex;
    flex-direction: column;
  }

  .mainpage-container {
    display: flex;
    flex-direction: column;
  }

  .brand-name {
    font-size: 18px;
  }

  .brand-description {
    font-size: 20px;
  }

  .featured {
    font-size: 20px;
  }

  .latest-header {
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
  }

  .salomon-xt-container {
    display: flex;
    flex-direction: column;
  }

  .salomon-xt-link {
    font-size: 14px;
    padding-bottom: 30px;
  }

  .basket-table {
    font-size: 12px;
  }
}
